.board {
  width: 300px; /* Total horizontal dimensions */
  height: 300px; /* Total vertical dimensions */
  display: grid; /* Enables CSS Grid */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(
    3,
    1fr
  ); /* Total vertical space broken into 3 rows */
  background: lightgreen;
}

.box {
  border: 2px solid #333; /* Shows the lines in the CSS grid */
  background: lightgreen;
}
